<html>
  <head>
    <script type="text/javascript">
      var jsPath = '/javascripts/';
      var cssPath = '/stylesheets/';
      var gMfLocation = jsPath + 'dig/mfbase/mapfish/';
      var browserIsIE6orBefore = false;
    </script>
    <link href="/stylesheets/custom-theme/jquery-ui-1.7.custom.css?1344183425" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-1.3.2.min.js?1344183425" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui-1.7.custom.min.js?1344183425" type="text/javascript"></script>
    <script src="/javascripts/jquery.history.js?1344183425" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
      jQuery.noConflict();
      //]]>
    </script>
    <script src="/javascripts/prototype.js?1344183425" type="text/javascript"></script>
    <link href="/stylesheets/openlayers/theme/default/style.css?1344183425" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/openlayers/2.8/OpenLayers-2.8/OpenLayers.js?1344183425" type="text/javascript"></script>
    <link href="/stylesheets/dig/ext/resources/css/ext-all.css?1344183425" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/dig/mfbase/mapfish/mapfish.css?1344183425" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/dig/ext/resources/css/xtheme-gray.css?1344183425" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/dig/mfbase/ext/adapter/ext/ext-base.js?1344183425" type="text/javascript"></script><script src="/javascripts/dig/mfbase/ext/ext-all.js?1344183425" type="text/javascript"></script>
    <script src="/javascripts/dig/GeoExt/script/GeoExt.js?1344183425" type="text/javascript"></script>
    <script src="/javascripts/dig/mfbase/mapfish/MapFish.js?1344183425" type="text/javascript"></script>
    <script type="text/javascript">
      OpenLayers.ImgPath = '/javascripts/openlayers/2.8/OpenLayers-2.8/img/';
           Ext.BLANK_IMAGE_URL = jsPath + 'dig/mfbase/ext/resources/images/default/s.gif';
           var refLayerID = "<%=@layer[:id]%>";
           var refLayerYear = "<%=@layer[:depicts_year]%>";
           var refLayerURL = "http://mapwarper.net/layers/wms/2";
           var refLayerBounds = new OpenLayers.Bounds(<%=@layer[:get_bounds]%>);
           var editingUser = "007";
           var subtypeURL = "/subtype"; 
           var geoserverURL = '<%= "http://"+ request.host + "/geoserver/wfs" %>';  
         
    </script>
    <script type="text/javascript" src="/javascripts/dig/edit.js" ></script>
  </head>
  <body>
    <h1>The Historic Map Digitizer from Topomancy LLC</h1>
    <p>See <a href="http://github.com/timwaters/digitizer">Github</a> for the source. See it in action on <a href="http://maps.nypl.org">The NYPL Map Warper</a>. </p>
    <p>Note, for this demo, the necessary WFS Geoserver backend is not working, so nothing can be saved, nor retrieved from the server.</p>
    <div id="dig-panel">
      <div id="olmap"></div>
      <div id="digitizer-slider">
        <div class="ui-slider-handle"></div>
      </div>
      <div id="tree"></div>
    </div>
  </body>
</html>
